/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 3, 2019, 12:19:09 PM
    Author     : frontend
*/


/*

> 0px   XS - NO NAME


> 576px SM - small devices



> 768px MD  - medium devices


> 992px  LG    large devices



> 1200px  XL   extra large devices

*/



@media( min-width:576px){
    /*section BENEFIT*/


    .benefit{
        margin-top: -25%;

    }
    
    /*section GALLERY*/

    .gallery figure .zoom-icon{
        top: 30%;
        height: 41px;
        width: 41px;
    }
}




@media(min-width:768px){

    /*header*/

    header .navbar-nav .nav-link{
        border-bottom: 3px solid transparent; 
        font-size: 13px;
    }

    header .navbar-nav .nav-link.active,
    header .navbar-nav .nav-link:hover{
        background-color: transparent;
        color: #fff !important; 
        border-bottom: 3px solid #1FDB84;
    }

    header .navbar-nav .login-link:hover{
        transform: scale(1.1);
        color: #1FDB84 !important;
        border-bottom: 3px solid transparent; 
    }

    header .navbar-nav .register-link{
        border-radius: 6px;

    }

    header .navbar-nav .register-link:hover{
        box-shadow: 0 8px 34px 0 rgba(31,219,132,0.6); 
    }

    header .navbar-nav .register-link:hover a{
        border-bottom: 0;
    }


    /*section BENEFIT*/


    .benefit{
        margin-top: -15%;

    }

    /*section TESTIMONIALS*/

    .testimonials .testimonials-item .testimonials-item-img{
        padding-left: 64px;
    }

    .testimonials .testimonials-item .testimonials-item-text{
        padding-left: 64px;
        padding-right: 64px;
    }

    .testimonials .testimonials-item .testimonials-item-person{
        padding-left: 64px;
    }

}


@media(min-width:992px){

    header .navbar-nav .nav-item{
        margin-left: 28px;
    }

    header .navbar-nav .nav-link{
        border-bottom: 3px solid transparent; 
        font-size: 16px;
    }


    /*section BENEFIT*/

    .benefit{
        margin-top: -10%;

    }

    /*section PAID*/

    .pricing .pricing-title{
        width: 70%;
    }

    .pricing .pricing-article-item .ul-first{
        margin-bottom: 95px;
    }

    .pricing .pricing-article-item .ul-second{
        margin-bottom: 59px;
    }


    /*section TESTIMONIALS*/

    .testimonials .one .testimonials-item-text{
        padding-bottom: 26%;
    }



}


@media(min-width:1200px){

    /*section PAID*/
    .pricing .pricing-article-item .ul-first{
        margin-bottom: 95px;
    }

    .pricing .pricing-article-item .ul-second{
        margin-bottom: 59px;
    }

    /*section TESTIMONIALS*/

    .testimonials .two .testimonials-item-text{
        padding-bottom: 26%;
    }

/*section GALLERY*/

    .gallery figure .zoom-icon{
        top: 40%;
        height: 61px;
        width: 61px;
    }


}



